@page
@model Bakary_Shop.Pages.OrderSuccessModel
@{
}
<h1>Order Confirmation</h1>

<div class="border-success">
    <h2>Thank you for your Order!</h2>
    <p>
        We are Processing your order and have sent a confirmation email.
        <br />
        Thanks for your time!
    </p>
</div>